@import "../../mixins.scss";

.modal {
  z-index: 4000;
}
.modal-open {
  padding-right: 0px !important;
}
.modal-title {
}
.modal-dialog {
  width: 70vw;
  max-width: 70vw;
}

.modalImageFit {
  width: 100%;
  object-fit: cover;
}

.modal-date {
  @include font-alt;
  font-size: 1rem;
}

#modal-flex {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: row;
}

#modal-text-container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.modal-services {
  display: flex;
  flex-direction: column;
}
