.bg-dark-alfa-30:before, .bg-dark-alfa-30 .YTPOverlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34,34,34, .3);
}

.bg-dark, .bg-dark-lighter, .bg-dark-alfa-30, .bg-dark-alfa-50, .bg-dark-alfa-70, .bg-dark-alfa-90, .bg-dark-alfa, .bg-color, .bg-color-lighter, .bg-color-alfa-30, .bg-color-alfa-50, .bg-color-alfa-70, .bg-color-alfa-90, .bg-color-alfa {
    color: #fff;
}

.page-section, .small-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 140px 0;
}

.home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-content {
    position: relative;
}

.home-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.bg-dark {
    background-color: #111;
}

.hs-line-14 {
    margin-top: 0;
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.7em !important;
}

@media only screen and (min-width: 1025px){
    div#top .page-section{
	background-position: center top -200px;
    }
}
@media only screen and (min-width: 1220px){
    div#top .page-section{
	background-position: center top -230px;
    }
}

@media only screen and (min-width: 1440px){
    div#top .page-section{
	background-position: center top -260px;
    }
}
