@import '../../mixins.scss';


.footerContainer {
    // width:50rem;
    // margin:auto;
    background-color: rgb(248, 248, 248);
}

.infoContainer {
    display: inline-block;
}

.footerIcon {
    vertical-align: top;
    width: 2rem;
    display: inline-block;
    // margin-right:2rem;
}

.footerHeaders {
    @include font-alt;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
}

.footerInfo {
    @include font-alt;
    font-size: 0.8rem;
    margin-bottom: 0;
    text-transform: lowercase;
}

.address {
    @include font-alt;
    font-size: 0.8rem;
    margin-bottom: 0;
    text-transform: none;
}

$rootSize:1rem;

.footerSM {
    $marginMulti: 15;
    color: black;
    font-size: $rootSize;
    text-align: center;
    margin: auto;
    margin-top: $rootSize/$marginMulti;
    margin-left: $rootSize/($marginMulti/2.5);
    transform: rotate(-45deg);
}

.footerSMLinks {
    display: block;
    background-color: white;
    height: $rootSize*1.27;
    width: $rootSize*1.27;
    border: 1px solid black;
    transform: rotate(45deg);
}

.footerSMLinks:hover {
    transition: 1s;
    background-color: black;
    color: white;

    .footerSM {
        color: white;
    }
}

.creditInfo{
    @include font-alt;
    text-align:center;
    color:gray;
    margin-top:0.5rem;
    font-weight:300;
    letter-spacing: 1px;
    margin-top:2rem;
    padding-left:3rem;
    text-shadow:1px black;
}