@import "../../mixins.scss";

.form-control + .form-control {
  margin-top: 0.5rem;
}
textarea.form-control{
  margin-top: 0.5rem;
  @include media-breakpoint-up(lg){
    margin-top:0;
  }
}
.form-control {
  @include font-alt;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: none;
}

// #messageForm {
  // height: 97%;
// }

.maSubmit {
  display: block;
  background-color: #3b3b3b;
  color: white;
  border-radius: 1px;
  line-height: 1rem;
  text-align: center;
  font-size: 0.8rem;
  @include font-alt;
  float: right;
  width: 100%;
}
.maSubmit:hover{
  transition:0.5s;
  color:black;
  background-color:white;
  border:1px solid black;
}
.allFieldsRequired {
  float: left;
  color: rgb(170, 170, 170);
  @include font-main;
  font-size: 0.5rem;
}

#messageContainer {
  @include media-breakpoint-up(lg) {
    padding-right: 0;
    margin-top:0;
  }
}

.consultation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .contact-info-buttons {
    background-color: #3b3b3b;
    color: white;
    border-radius: 1px;
    line-height: 1rem;
    text-align: center;
    font-size: 0.8rem;
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 40%;
    height: 42px;
    margin-bottom: 50px;
  }
}


