@import './imported/bootstrap-scss/bootstrap.scss';

@import './custom/carousel.scss';
@import './custom/home.scss';

body {
  background-color: black !important;
}

.page {
  overflow: hidden;
}

.relative {
  position: relative;
}