@import './mixins.scss';

@import './imported/bootstrap-scss/bootstrap.scss';
@import './imported/fonts.scss';

@import './custom/home/bannerCarousel.scss';
@import './custom/home/reviewsCarousel.scss';
@import './custom/home/home.scss';
@import './custom/layout/navbar.scss';

body {
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.font-alt {
  @include font-alt;
}

.page {
  overflow: hidden;
}

.relative {
  position: relative;
}

.imageFit {
  height: 100%;
  object-fit: contain;
}