@mixin font-alt {
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

@mixin font-main {
    font-size: 14px;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.6;
}