.careersContainer{
    margin-top:10rem;
    margin-bottom:2rem;
    margin:auto;
    width:90vw;

    @include media-breakpoint-up(xs){
    }
    @include media-breakpoint-up(xs){}
    @include media-breakpoint-up(xs){}
    @include media-breakpoint-up(xs){}
    @include media-breakpoint-up(xs){}
}
.careersHeader{
    text-align:center;
    font-size:1.5rem;
}
